:root {
    --cinzinha: #626262;
    --branco: #FFFFFF;
    --cor-5: #2FAC66;
    --fundo-1: #262625;
    --ativo: #12A19A;
    /* --bs-body-bg: #40403F; */
}

.footer {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
    background-color: #262625;
}



.colRodape {
    color: #FFFFFF
}

.py-4 {
    padding-bottom: 0px;
}

.mapinha {
    margin-top: 20px;
    border-radius: 15px;
}

.custom-icon {
    color: #2FAC66;
    display: inline-flex;
    width: 20%;
}