.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
  }
  
  .botoesPrincipais {
    background-color: #626262;
    border-radius: 25px;
    padding: 5px;
    position: relative;
  }
  
  .botaoContainer {
    display: flex;
    position: relative;
    justify-content: space-around;
  }
  
  .botao {
    padding: 10px 20px;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
  .botaoAnimado {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(40deg,
    #2fac66,
    #2b4b5f 25%,
    #292b5d 36%,
    #29235c 65%,
    #2a375d 73%,
    #2fac66);
    border-radius: 20px;
    transition: transform 0.3s ease;
  }
  
  .posEmpresa {
    transform: translateX(0);
  }
  
  .posFornecedor {
    transform: translateX(100%);
  }