.body {
    background-color: #262625;
}
.textoParceiros h2 {
    color: #12A19A;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.textoParceiros p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.textoParceiros button {
    border-radius: 15px;
    background: #129E97;
    padding: 10px 15px;
    border: none;
    width: 60%;
}

#buscarEmpresa {
    width: auto;
    background-color: transparent;
    border: none;
    border-bottom: solid #626262;
    color: #626262;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: inherit;
}

.paginaParceiros {
    padding: 0 8%;
}

.paginaParceiros .buscarEmpresa {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.botoesParceiros button {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    border-radius: 20px;
    background: #129E97;
    border: none;
    width: 87.619px;
    height: 80px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0 25px;

}

.botoesPrincipais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0 3% 0;
}

.botoesPrincipais button {
    background-color: #626262;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 7% 50%;
    border-radius: 65px;
    border: none;

}

.botoesPrincipais .ativo {
    background: rgb(47, 172, 102);
    background: linear-gradient(40deg, rgba(47, 172, 102, 1) 0%, rgba(43, 75, 95, 1) 25%, rgba(41, 43, 93, 1) 36%, rgba(41, 35, 92, 1) 65%, rgba(42, 55, 93, 1) 73%, rgba(47, 172, 102, 1) 100%);
}

.botoesParceiros i {
    color: #FFFFFF;
    font-family: Font Awesome 6 Free;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.botoesParceiros {
    width: 100%;
    justify-content: flex-end;

}

.empresas {
    background-image: url(.././images/parceiros/fundo.png);
    padding: 5%;
    background-size: cover;

}

.imgParceiros {
    padding: 0% 2% 1% 0%;
}

.trabalheConosco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;

}

.trabalheConosco h2 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 2%;
}

.itemParceiros {
    margin-bottom: 2%;
}

.arrumarBotoes {
    display: flex;
    background-color: #626262;
    border-radius: 100px;
    justify-content: center;
}

.botaoGeral {
    width: 197px;
    height: 60px;
    border-radius: 13px;
    border: 1px solid #2FAC66;
    background: #12A19A;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
    color: #FFFFFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}